<mat-card class="contact-card">
  <mat-card-title>Template Form</mat-card-title>
  <mat-card-content>
    <form novalidate >
    <mat-form-field>
      <input matInput placeholder="firstname"  class="form-control"  name="firstname" ngModel>

    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="lastname" class="form-control"  name="lastname" ngModel>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="email" class="form-control"  name="email" ngModel>
    </mat-form-field>
    <br>
    <mat-form-field>
      <textarea rows="4" cols="50" matInput placeholder="message" class="form-control"  name="message" ngModel></textarea>
    </mat-form-field>
    <br>
    <button id="submit" mat-raised-button type="submit" color="primary">Submit</button>

    </form>
  </mat-card-content>
</mat-card>
<!--
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="tempf">Template forms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="reactf">Reactive forms</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
-->
